body {
  margin: 0;
}
.spotlight {
  width: 100vw;
  min-width: 1200px;
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 1200px;
}
p {
  margin: 0;
}
.spotlight p {
  color: #fff;
  font-size: 60px;
  text-transform: capitalize;
  font-family: Roboto;
  font-weight: bold;
  display: block;
}
.spotlight p:last-child {
  font-size: 40px;
}
